<div class="comment">
  <div class="comment-info">
    <span class="comment-id">
      <%=comment.related_id%>
    </span>
    <span class="user-nickname">
      名無しさん
    </span>
    <span class="comment-date">
      <%=comment.created_at%>
    </span>
  </div>
  <div class="comment-text">
    <%=comment.text%>
  </div>
  <div class="good">
    <%=link_to "♡", "#", class:"good-btn"%>
    <%if !comment.good%>
      <%="0"%>
    <%else%>
      <%=comment.good%>
    <%end%>
  </div>
</div>