<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%=link_to 'Geek Chat', '/', class:'header-logo'%>
    <form class='search-form' action='#'>
      <input class='input-box' placeholder='検索'>
      <button class='search-button'>
        <%=image_tag "search.png", class:"search-icon"%>
      </button>
    </form>
  </div>
  <ul class='nav'>
    <%# ログイン後の表示 %>
    <%if user_signed_in?%>
      <li><%=link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"logout"%></li>
    <%# ログインしていない場合の表示 %>
    <%else%>
      <li><%=link_to 'ログイン', new_user_session_path, class:"login"%></li>
      <li><%=link_to '新規登録', new_user_registration_path, class:"sign-up"%></li>
    <%end%>
  </ul>
</header>