<%=render "shared/header"%>
<h2>Log in</h2>

<%= form_with class:"sign-in-form", model: @user, url:user_session_path, local:true do |f| %>
<%=render "devise/shared/error_messages"%>
  <div class="field">
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

